body{
    background: url(../img/fon.jpg) no-repeat;
	background-size: 110%;
}
header {
	position: static;
}
#nav{
	float: right;
	margin-right: 50px;
	font-size: 30px;
	font-family: Franklin Gothic Medium;
}
.navbar{
	float: right;
}
a{
	color: white;
}
article{
	height:1070px;
}
.leftBlock{
	width: 40%;
	float:left;
	margin-left: 10%;
	margin-right: 70px;
	color: white;
	font-family: Franklin Gothic;
}
h1{
	font-size: 50px;
}
h1{
	font-size: 40px;
}
.rightBlockimg1{
	float: right;
	margin-bottom: 30px;
}
#onas{
	font-size: 30px;
	
}
footer{
	text-align:center;
	color: white;
	font-size: 30px;
	height: 100px;
	width: 100%;
	
}
.rightBlockimg2{
	float: right;
}

.container{
	width: 100%;
	height: 1050px;
}

.logo{
	position:absolute;
	top: 25px;
	left: 41px;
}

.images{
	float: right;
	width: 600px;
	height: 800px;
	margin-top: 50px;
	margin-right: 200px;
}

.button_1658204570793 {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #eaeaea !important;
    color: #397eff !important;
    border: 2px solid #006089 !important;
    border-radius: 20px !important;
    font-size: 19px !important;
    padding: 16px 56px !important; 
    transition: all 0.8s ease !important;
}
.button_1658204570793:hover{
    text-decoration: none !important; 
    background-color: #2ccfff !important;
    color: #ffeded !important;
    border-color: #8df1ff !important;
}