body{
    background: url(../img/fon.jpg) no-repeat;
	background-size: 112%;
}
header {
	height: 100px;
	position: static;
}
#nav{
	float: right;
	margin-right: 50px;
	font-size: 30px;
	font-family: Franklin Gothic Medium;
}

a{
	color: white;
}
article{
	height:1070px;
}
.centerBlock{
	width: 100%;
	text-align:center;
	float:left;
	margin-right: 70px;
	color: white;
	font-family: Franklin Gothic;
}
h1{
	font-size: 50px;
}
h1{
	font-size: 40px;
}

#glav{
	font-size: 30px;
	align: center;
}
footer{
	text-align:left;
	color: white;
	font-size: 30px;
	height: 100px;
	width: 100%;
	
}

#tg {
	float:left;
	text-align: center;
}
#tgIMG {
	margin-top: 20px;
	margin-left:15px;
	text-align: center;
}
.logo{
	position:absolute;
	top: 25px;
	left: 41px;
}
